<template>
  <v-app :style="{ backgroundAttachment: 'fixed' }">
    <v-app-bar :src="appBarBg" app class="primary" clipped-left>
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="315deg, rgba(0, 0, 0, 0.4), rgba(66, 36, 25, 0.9)"
        />
        <!-- <v&#45;img v&#45;bind="props" /> -->
      </template>

      <!-- only shown in xs -->
      <v-app-bar-nav-icon
        v-if="breakpoint('smAndDown')"
        @click="isDrawerOpen = !isDrawerOpen"
      />

      <v-toolbar-title>
        <v-btn nuxt to="/" large text
          ><h2 class="display-1">Gambit Accepted</h2></v-btn
        >
      </v-toolbar-title>

      <!-- not displayed in xs -->
      <v-toolbar-items v-show="breakpoint('mdAndUp')">
        <v-btn text nuxt to="/featured">{{ text.appBar.featured }}</v-btn>
        <v-btn text nuxt to="/query">{{ text.appBar.search }}</v-btn>
      </v-toolbar-items>

      <v-spacer></v-spacer>

      <!-- not displayed in xs -->
      <v-toolbar-items v-show="breakpoint('mdAndUp')">
        <v-btn @click="switchLocale" icon class="pa-3">
          <v-img :src="flag" />
        </v-btn>

        <!-- <v&#45;menu :close&#45;on&#45;content&#45;click="false" offset&#45;x left> -->
        <!--   <template v&#45;slot:activator="{ on }"> -->
        <!--     <v&#45;btn v&#45;on="on" icon color="primary" -->
        <!--       ><v&#45;icon>mdi&#45;magnify</v&#45;icon></v&#45;btn -->
        <!--     > -->
        <!--   </template> -->
        <!--   <v&#45;toolbar id="Search" dense max&#45;width="200"> -->
        <!--     <v&#45;text&#45;field -->
        <!--       v&#45;model="idSearch" -->
        <!--       @keyup.enter="searchGame" -->
        <!--       hide&#45;details -->
        <!--       label="id" -->
        <!--       prepend&#45;icon="mdi&#45;magnify" -->
        <!--       single&#45;line -->
        <!--     ></v&#45;text&#45;field> -->
        <!--     <v&#45;btn @click="searchGame" icon -->
        <!--       ><v&#45;icon>mdi&#45;arrow&#45;right</v&#45;icon></v&#45;btn -->
        <!--     > -->
        <!--   </v&#45;toolbar> -->
        <!-- </v&#45;menu> -->

        <v-tooltip v-show="breakpoint('mdAndUp')" bottom>
          <template v-slot:activator="{ on: tooltipOn }">
            <v-dialog v-model="uploadIsOpen" :width="uploadFormWidth">
              <template v-slot:activator="{ on: dialogOn }">
                <v-btn v-on="{ ...tooltipOn, ...dialogOn }" icon color="primary"
                  ><v-icon>mdi-file-upload</v-icon></v-btn
                >
              </template>
              <UploadForm @close="uploadIsOpen = false" />
            </v-dialog>
          </template>
          <span>{{ text.appBar.upload }}</span>
        </v-tooltip>
      </v-toolbar-items>

      <template
        v-if="breakpoint('mdAndUp') && tabLinks.length > 0"
        v-slot:extension
      >
        <v-tabs
          background-color="transparent"
          color="info"
          show-arrows
          optional
        >
          <v-tabs-slider />
          <div
            v-for="(tab, idx) in tabLinks"
            :key="idx"
            class="d-flex justify-center align-center"
          >
            <div v-if="getLoadStatus(idx) === 2" class="d-flex">
              <v-tab :to="tab" nuxt class="white--text">
                <v-icon>{{
                  gameTabs[idx].role === 'viewer'
                    ? 'mdi-checkerboard'
                    : 'mdi-printer'
                }}</v-icon>
                &nbsp; {{ tabNames[idx] }}</v-tab
              >
              <v-btn @click="closeTab(tab, idx)" icon>
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-divider v-if="gameTabs.length !== idx + 1" vertical />
            </div>
          </div>
        </v-tabs>
      </template>
    </v-app-bar>

    <!-- only shown in xs -->
    <v-navigation-drawer
      v-show="breakpoint('smAndDown')"
      v-model="isDrawerOpen"
      app
      left
      temporary
      color="accent"
      width="350"
    >
      <template v-slot:prepend>
        <div class="text-right">
          <v-btn @click="isDrawerOpen = !isDrawerOpen" icon>
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </div>
      </template>
      <v-list>
        <v-list-item nuxt to="/featured">
          {{ text.appBar.featured }}
        </v-list-item>
        <v-list-item nuxt to="/query">
          {{ text.appBar.search }}
        </v-list-item>
      </v-list>
      <v-divider v-if="tabLinks.length > 0" />
      <v-list>
        <v-row v-for="(tab, idx) in tabLinks" :key="idx" no-gutters>
          <v-col cols="10">
            <v-list-item :to="tab" nuxt>
              <v-list-item-icon
                ><v-icon>{{
                  gameTabs[idx].role === 'viewer'
                    ? 'mdi-checkerboard'
                    : 'mdi-printer'
                }}</v-icon></v-list-item-icon
              >
              <v-list-item-content>
                <v-list-item-title>{{ tabNames[idx] }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-col>
          <v-col cols="2" class="d-flex justify-center align-center">
            <v-btn @click="closeTab(tab, idx)" icon
              ><v-icon>mdi-close</v-icon></v-btn
            >
          </v-col>
        </v-row>
      </v-list>
      <template v-slot:append>
        <div style="height: 50px" class="d-flex justify-end align-center pa-5">
          <v-tooltip top>
            <template v-slot:activator="{ on: tooltipOn }">
              <v-dialog v-model="uploadIsOpen" :width="uploadFormWidth">
                <template v-slot:activator="{ on: dialogOn }">
                  <v-btn
                    v-on="{ ...tooltipOn, ...dialogOn }"
                    icon
                    color="primary"
                    class="mx-3"
                    ><v-icon>mdi-file-upload</v-icon></v-btn
                  >
                </template>
                <UploadForm @close="uploadIsOpen = false" />
              </v-dialog>
            </template>
            <span>{{ text.appBar.upload }}</span>
          </v-tooltip>
          <v-btn @click="switchLocale" icon small>
            <v-img :src="flag" />
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-content class="px-2">
      <nuxt ref="nuxt" keep-alive />
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import UploadForm from '@/components/uploadForm'

export default {
  components: {
    UploadForm
  },
  data() {
    return {
      idSearch: undefined,
      appBarBg: require('@/assets/imgs/app_bar_bg.jpg'),
      isDrawerOpen: false,
      uploadIsOpen: false,
      usFlag: require('@/assets/imgs/flags/us.png'),
      deFlag: require('@/assets/imgs/flags/de.png'),
      isMounted: false,
      uploadFormWidth: 800
    }
  },
  computed: {
    ...mapGetters({ text: 'text/textChessLayout' }),
    gameTabs() {
      return this.$store.state.games.gameTabs
    },
    tabLinks() {
      const tabLinks = []
      this.gameTabs.forEach(({ id, role }) => {
        tabLinks.push(`/${role === 'viewer' ? 'game' : 'gamePrinter'}/${id}`)
      })
      return tabLinks
    },
    tabNames() {
      const tabNames = []
      this.gameTabs.forEach(({ id }) => {
        const gameData = this.$store.state.games.gamesData[id]
        if (gameData.loadStatus !== 2) return
        const white = gameData.meta.white.name.split(' ').slice(-1)
        const black = gameData.meta.black.name.split(' ').slice(-1)
        tabNames.push(`${white}-${black}`)
      })
      return tabNames
    },
    flag() {
      return this.$store.state.text.locale === 'en' ? this.usFlag : this.deFlag
    }
  },
  mounted() {
    this.isMounted = true
  },
  methods: {
    ...mapMutations({ switchLocale: 'text/switchLocale' }),
    searchGame() {
      if (this.idSearch) this.$router.push(`/game/${Number(this.idSearch)}`)
    },
    closeTab(tab, idx) {
      const tabData = this.gameTabs[idx]

      const isCurrentTab = tab === this.$route.path
      if (!isCurrentTab) {
        // clean up
        const keepAlive = this.$refs.nuxt.$children[0].$vnode.parent
          .componentInstance
        let key = `/${tabData.role === 'viewer' ? 'game' : 'gamePrinter'}/${
          tabData.id
        }`
        key = keepAlive.keys.find((k) => k.includes(key))
        this.$removeFromCache(keepAlive, key)

        const component = this.$refs.nuxt.$children.find(
          (child) => child.$vnode.key === key
        )
        component.$destroy()
        this.$store.commit('games/removeGameTab', tabData)
      } else {
        // clean up in deactivated() hook
        const tabLinks = [...this.tabLinks]
        // Do this before $router.push()
        this.$store.commit('games/removeGameTab', tabData)
        if (tabLinks.length === 1) {
          // last remaining (go somewhere)
          this.$router.push('/query')
        } else if (idx + 1 === tabLinks.length) {
          // last tab in list (move cursor to the left)
          const targetTab = tabLinks[idx - 1]
          this.$router.push(targetTab)
        } else {
          // move cursor to right
          const targetTab = tabLinks[idx + 1]
          this.$router.push(targetTab)
        }
      }
    },
    getLoadStatus(tabIdx) {
      const tab = this.gameTabs[tabIdx]
      const gameData = this.$store.state.games.gamesData[tab.id]
      return gameData.loadStatus
    },
    breakpoint(at) {
      return this.isMounted && this.$vuetify.breakpoint[at]
    }
  }
}
</script>

<style lang="scss">
body {
  min-height: 100vh;
}
</style>
