<template>
  <v-sheet
    id="GamePrinter"
    max-width="1100"
    class="mx-auto my-5"
    color="primary"
  >
    <GameInfo id="GameInfo" :gameId="id"></GameInfo>
    <v-row no-gutters justify="center" class="my-2">
      <v-col cols="12" md="6">
        <PrinterOptions :gameId="id" />
      </v-col>
      <v-col id="PdfPreview" cols="12" md="6" class="px-2">
        <PrinterPreview :gameId="id" />
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import GameInfo from '@/components/gameViewer/gameInfo'
import PrinterOptions from '@/components/gamePrinter/printerOptions'
import PrinterPreview from '@/components/gamePrinter/printerPreview'

export default {
  name: 'GamePrinter',
  components: {
    GameInfo,
    PrinterOptions,
    PrinterPreview
  },
  data() {
    return {
      id: this.$route.params.id
    }
  },
  computed: {
    gameData() {
      return this.$store.state.games.gamesData[this.id]
    },
    gameTabs() {
      return this.$store.state.games.gameTabs
    }
  },
  async fetch({ store, params, redirect }) {
    if (process.server) redirect('/')
    await store.dispatch('games/processGameData', { id: params.id })
    const loadingFailed =
      store.state.games.gamesData[params.id].loadStatus !== 2
    if (loadingFailed) {
      store.commit('games/removeGameTab', { id: params.id, role: 'printer' })
      redirect('/error')
      return
    }
    store.dispatch('games/addGameTab', { id: params.id, role: 'printer' })
  },
  created() {
    const isPdfFetched = Boolean(this.gameData.pdfUrl)
    if (process.browser && !isPdfFetched)
      this.$store.dispatch('games/fetchPdf', { id: this.id, options: {} })
  },
  deactivated() {
    const thisTabIncluded = this.gameTabs.some(
      (tab) => tab.id === this.id && tab.role === 'printer'
    )
    if (!thisTabIncluded) {
      this.$removeFromCache()
      this.$destroy()
    }
  }
}
</script>

<style lang="scss">
/* #GamePrinter { */
/*   @include blur(); */
/* } */
</style>
