<template>
  <v-sheet
    id="GameViewer"
    max-width="1100"
    class="mx-auto my-5"
    color="primary"
  >
    <GameInfo id="GameInfo" :gameId="id"></GameInfo>
    <div
      id="BoardAndPictures"
      class="d-flex align-center flex-column-reverse flex-sm-row justify-space-around my-8"
    >
      <div id="BoardAndButtons">
        <Board
          :gameId="id"
          :width="breakpoint('xs') ? '85vw' : '50vw'"
          :darkTileColor="$vuetify.theme.defaults.dark.darkTile"
          :lightTileColor="$vuetify.theme.defaults.dark.lightTile"
          role="viewer"
          max-width="550px"
        />
        <GameButtons id="GameButtons" :gameId="id" role="viewer" />
      </div>
      <PlayerPictures :gameId="id" v-if="playerPictureUrlsLoadStatus === 2" />
    </div>
    <CurrentMove :gameId="id" role="viewer" />
    <MoveText :gameId="id" role="viewer" />
  </v-sheet>
</template>

<script>
import Board from '@/components/gameViewer/board'
import PlayerPictures from '@/components/gameViewer/playerPictures'
import GameButtons from '@/components/gameViewer/gameButtons'
import GameInfo from '@/components/gameViewer/gameInfo'
import MoveText from '@/components/gameViewer/moveText'
import CurrentMove from '@/components/gameViewer/currentMove'

export default {
  name: 'GameViewer',
  components: {
    Board,
    GameButtons,
    PlayerPictures,
    GameInfo,
    MoveText,
    CurrentMove
  },
  data() {
    return {
      id: this.$route.params.id,
      isMounted: false
    }
  },
  computed: {
    gameData() {
      return this.$store.state.games.gamesData[this.id]
    },
    loadStatus() {
      if (this.gameData) return this.gameData.loadStatus
      else return 0
    },
    playerPictureUrlsLoadStatus() {
      if (this.gameData) return this.gameData.meta.playerPictureUrlsLoadStatus
      else return 0
    },
    gameTabs() {
      return this.$store.state.games.gameTabs
    }
  },
  async fetch({ store, params, redirect }) {
    if (process.server) redirect('/')
    await store.dispatch('games/processGameData', { id: params.id })
    const loadingFailed =
      store.state.games.gamesData[params.id].loadStatus !== 2
    if (loadingFailed) {
      store.commit('games/removeGameTab', { id: params.id, role: 'viewer' })
      redirect('/error')
      return
    }
    store.dispatch('games/addGameTab', { id: params.id, role: 'viewer' })
  },
  mounted() {
    this.isMounted = true
  },
  deactivated() {
    const thisTabIncluded = this.gameTabs.some(
      (tab) => tab.id === this.id && tab.role === 'viewer'
    )
    if (!thisTabIncluded) {
      this.$removeFromCache()
      this.$destroy()
    }
  },
  methods: {
    breakpoint(at) {
      return this.isMounted && this.$vuetify.breakpoint[at]
    }
  }
}
</script>

<style lang="scss" scoped>
#BoardButtons {
  width: 50vw;
  max-width: 550px;
}

@media only screen and (max-width: 600px) {
  #GameButtons {
    width: 85vw;
  }
}
</style>
