<template>
  <a
    :href="link"
    :class="{ noClick: disabled }"
    :download="fileName"
    @click.prevent="download"
    :style="{ textDecoration: 'none' }"
  >
    <v-btn v-on="on" v-bind="btnProps" :disabled="disabled"
      ><slot></slot
    ></v-btn>
  </a>
</template>

<script>
export default {
  name: 'DownloadButton',
  props: {
    link: {
      type: String,
      default: ''
    },
    blobUrl: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text/pgn'
    },
    fileName: {
      type: String,
      default: '',
      required: true
    },
    on: {
      type: Object,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    btnProps: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    async download() {
      if (this.disabled) return
      try {
        let blobUrl
        if (this.link) {
          const response = await this.$axios.get(this.link, {
            responseType: 'blob'
          })
          const blob = new Blob([response.data], { type: this.type })
          blobUrl = window.URL.createObjectURL(blob)
        } else {
          blobUrl = this.blobUrl
        }
        const link = document.createElement('a')
        link.href = blobUrl
        link.download = this.fileName
        link.click()
        if (!this.blobUrl) window.URL.revokeObjectURL(blobUrl)
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.noClick {
  cursor: default;
}
</style>
