<template>
  <v-form v-model="valid">
    <v-card :color="backgroundColor" :flat="flat" :tile="tile">
      <v-card-title v-if="!noTitle" class="secondary">
        <v-row no-gutters>
          <v-spacer />
          <v-col class="headline text-center">
            {{ text.title }}
          </v-col>
          <v-col class="text-right">
            <v-btn @click="$emit('close')" icon>
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text class="pt-2">
        <v-responsive width="90%" class="mx-auto">
          <v-textarea
            v-model="pgnText"
            :label="text.textField"
            :disabled="pgnFile != undefined"
            color="warning"
            filled
            clearable
          />
          <span class="body-1 text-center d-block mb-4 font-weight-bold">{{
            text.or
          }}</span>
          <v-file-input
            v-model="pgnFile"
            :label="text.fileInput"
            :disabled="Boolean(pgnText)"
            :rules="validation.pgnFile"
            color="warning"
            filled
            show-size
          />
        </v-responsive>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          @click="submit('viewer')"
          :disabled="!valid || isAllEmpty"
          color="btnHighlight"
          ><v-icon>mdi-checkerboard</v-icon>{{ text.openViewer }}</v-btn
        >
        <v-btn
          @click="submit('printer')"
          :disabled="!valid || isAllEmpty"
          color="btnHighlight"
          ><v-icon>mdi-printer</v-icon>{{ text.openPrinter }}</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'UploadForm',
  props: {
    noTitle: {
      type: Boolean,
      default: false
    },
    backgroundColor: {
      type: String,
      default: 'accent'
    },
    flat: {
      type: Boolean,
      default: false
    },
    tile: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      valid: false,
      pgnText: '',
      pgnFile: undefined,
      validation: {
        pgnFile: [
          (v) =>
            v == null ||
            v.type.includes('pgn') ||
            this.text.pgnFileValidation.type,
          (v) =>
            v == null || v.size < 1000000 || this.text.pgnFileValidation.size
        ]
      }
    }
  },
  computed: {
    ...mapGetters({ text: 'text/textUploadForm' }),
    isAllEmpty() {
      return !this.pgnText && !this.pgnFile
    }
  },
  methods: {
    async submit(role) {
      if (this.isAllEmpty || !this.valid) return
      let pgn
      if (this.pgnText) pgn = this.pgnText
      else pgn = await this.pgnFile.text()
      this.$emit('close')
      this.pgnFile = null
      this.pgnText = ''
      await this.$store.dispatch('games/processGameData', { pgn })
      const gameId = this.$hashPgn(pgn)
      if (role === 'viewer') this.$router.push(`/game/${gameId}`)
      else this.$router.push(`/gamePrinter/${gameId}`)
    }
  }
}
</script>
