<template>
  <v-sheet max-width="1100" class="mx-auto my-5 pa-5" color="primary">
    <h2 class="red--text display-1 text-center">{{ text }}</h2>
  </v-sheet>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Error',
  computed: {
    ...mapGetters({ text: 'text/textError' })
  }
}
</script>
