<template>
  <v-sheet
    max-width="1100"
    class="mx-auto my-5 text-center pb-12 pt-3"
    color="primary"
  >
    <h1>{{ textFeatured.heading }}</h1>
    <v-list two-line max-width="600" class="mx-auto mt-12">
      <v-list-item v-for="(game, i) in featuredGames" :key="i">
        <v-list-item-content>
          <v-list-item-title>
            {{ game.meta.white.name }}
            -
            {{ game.meta.black.name }}
            [{{ game.meta.result }}]
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ game.meta.opening.name }}
            <span v-if="game.meta.opening.variation">{{
              game.meta.opening.variation
            }}</span>
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-avatar v-if="game.meta.playerPictureUrlsLoadStatus === 2">
          <v-img :src="game.meta.playerPictureUrls.white"></v-img>
        </v-list-item-avatar>
        <v-list-item-avatar v-if="game.meta.playerPictureUrlsLoadStatus === 2">
          <v-img :src="game.meta.playerPictureUrls.black"></v-img>
        </v-list-item-avatar>
        <v-list-item-action class="d-flex flex-row">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn :to="`/game/${game.id}`" v-on="on" nuxt icon class="info">
                <v-icon>mdi-card-search</v-icon>
              </v-btn>
            </template>
            <span>{{ textFeatured.tooltip.view }}</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                :to="`/gamePrinter/${game.id}`"
                v-on="on"
                nuxt
                icon
                class="info"
              >
                <v-icon>mdi-printer</v-icon>
              </v-btn>
            </template>
            <span>{{ textFeatured.tooltip.print }}</span>
          </v-tooltip>
        </v-list-item-action>
      </v-list-item>
    </v-list>
  </v-sheet>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'Featured',
  computed: {
    ...mapGetters({
      textFeatured: 'text/textFeatured'
    }),
    ...mapState({
      featuredGameIds: (state) => state.games.featuredGameIds,
      gamesData: (state) => state.games.gamesData
    }),
    featuredGames() {
      const games = []
      this.featuredGameIds.forEach((id) => {
        games.push(this.gamesData[id])
      })
      return games
    }
  },
  created() {
    if (!this.$isServer) this.$store.dispatch('games/fetchFeaturedGames')
  }
}
</script>
