<template>
  <v-sheet
    max-width="1100"
    min-height="50vh"
    class="mx-auto my-5 pa-5"
    color="primary"
  >
    <h1 class="text-center mb-4">{{ textIndex.heading }}</h1>
    <div
      style="max-width: 600px; margin: 0 auto"
      class="brown lighten-2 black--text"
    >
      <v-divider />
      <div class="d-flex justify-center align-center pa-4">
        <div v-html="textIndex.description" class="text-center" />
      </div>
      <v-divider />
    </div>
    <v-row>
      <v-col>
        <UploadForm no-title flat tile />
      </v-col>
      <v-col>
        <v-btn
          class="btnHighlight mb-1"
          height="50%"
          width="100%"
          text
          tile
          nuxt
          to="/featured"
          >{{ textIndex.featured }}</v-btn
        >
        <v-btn
          class="btnSubtle mt-1"
          height="50%"
          width="100%"
          text
          tile
          nuxt
          to="/query"
          >{{ textIndex.search }}</v-btn
        >
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import { mapGetters } from 'vuex'
import UploadForm from '@/components/uploadForm'

export default {
  components: {
    UploadForm
  },
  computed: {
    ...mapGetters({ textIndex: 'text/textIndex' })
  }
}
</script>
