<template>
  <v-sheet id="GameSearch" max-width="1100" class="primary mx-auto my-5">
    <h1 :style="{ textAlign: 'center' }" class="pt-2">{{ text.title }}</h1>
    <QueryForm />
    <v-slide-y-transition>
      <QueryResults v-if="queryResultLoadStatus === 2" />
    </v-slide-y-transition>
  </v-sheet>
</template>

<script>
import QueryForm from '@/components/queryGames/queryForm'
import QueryResults from '@/components/queryGames/queryResults'
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'Query',
  components: {
    QueryForm,
    QueryResults
  },
  computed: {
    ...mapGetters({ text: 'text/textQuery' }),
    ...mapState({
      queryResultLoadStatus: (state) => state.games.queryResultLoadStatus
    })
  }
}
</script>
