// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import '~vuetify/src/styles/styles.sass';

$new-colors-dark: (
  // 'background': linear-gradient(315deg, #000000 0%, #414141 74%) !important
  // 'background': linear-gradient(147deg, #000000 0%, #434343 74%)
  'background': linear-gradient(315deg, #000000 0%, #422419 74%)
);

$material-dark: map-merge($material-dark, $new-colors-dark);


$expansion-panel-border-radius: 4px 4px 0 0;
