<template>
  <v-form v-model="valid">
    <v-container>
      <v-row justify="space-around">
        <v-col cols="9" sm="4">
          <v-text-field
            :label="textQueryForm.playerName"
            :rules="validation.nameRules"
            v-model="form.player1"
            color="warning"
          />
        </v-col>
        <v-col cols="3" sm="2">
          <v-select
            :label="textQueryForm.color"
            :items="textQueryForm.colorOptions"
            v-model="form.player1Color"
            :rules="validation.colorRules"
            :disabled="form.player1.length === 0"
            color="warning"
            item-color="white"
          />
        </v-col>
        <v-col cols="9" sm="4">
          <v-text-field
            :label="textQueryForm.playerName"
            :rules="validation.nameRules"
            v-model="form.player2"
            color="warning"
          />
        </v-col>
        <v-col cols="3" sm="2">
          <v-select
            :label="textQueryForm.color"
            :items="textQueryForm.colorOptions"
            v-model="form.player2Color"
            :rules="validation.colorRules"
            :disabled="form.player2.length === 0"
            color="warning"
            item-color="white"
          />
        </v-col>
      </v-row>
      <v-row justify="space-around">
        <v-col sm="3" cols="10">
          <v-text-field
            :label="textQueryForm.event"
            :rules="validation.onlyTextRules"
            v-model="form.event"
            color="warning"
          />
        </v-col>
        <v-col sm="3" cols="10">
          <v-text-field
            :label="textQueryForm.site"
            :rules="validation.onlyTextRules"
            v-model="form.site"
            color="warning"
          />
        </v-col>
        <v-col sm="3" cols="10">
          <v-select
            v-model="form.result"
            :label="textQueryForm.result"
            :items="['', '1-0', '0-1', '1/2-1/2']"
            color="warning"
            item-color="white"
          >
          </v-select>
        </v-col>
      </v-row>
      <v-row justify="space-around">
        <v-col sm="4" cols="10">
          <v-text-field
            :label="textQueryForm.whiteElo"
            v-model="form.whiteEloNumber"
            :rules="validation.eloRules"
            color="warning"
          >
            <template v-slot:prepend>
              <v-btn @click="form.whiteEloOperator = !form.whiteEloOperator">
                <v-icon v-if="form.whiteEloOperator">mdi-greater-than</v-icon>
                <v-icon v-else>mdi-less-than</v-icon>
              </v-btn>
            </template>
          </v-text-field>
        </v-col>
        <v-col sm="4" cols="10">
          <v-text-field
            :label="textQueryForm.blackElo"
            v-model="form.blackEloNumber"
            :rules="validation.eloRules"
            color="warning"
          >
            <template v-slot:prepend>
              <v-btn @click="form.blackEloOperator = !form.blackEloOperator">
                <v-icon v-if="form.blackEloOperator">mdi-greater-than</v-icon>
                <v-icon v-else>mdi-less-than</v-icon>
              </v-btn>
            </template>
          </v-text-field>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col>
          <v-btn
            @click="submit"
            :disabled="isAllEmpty || !valid"
            :loading="queryResultLoadStatus === 1"
            color="btnHighlight"
            class="float-right"
            >{{ textQueryForm.submit }}</v-btn
          >
        </v-col>
        <v-col>
          <v-btn @click="clear" color="btnHighlight">{{
            textQueryForm.clear
          }}</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'

export default {
  name: 'QueryForm',
  data() {
    return {
      valid: false,
      form: {
        player1Color: '',
        player1: '',
        player2Color: '',
        player2: '',
        event: '',
        site: '',
        whiteEloOperator: false, // false is less-than, true is greater-than
        whiteEloNumber: '',
        blackEloOperator: false, // false is less-than, true is greater-than
        blackEloNumber: '',
        result: ''
      },
      validation: {
        colorRules: [
          (v) =>
            (!this.form.player1Color && !this.form.player2Color) ||
            this.form.player1Color !== this.form.player2Color ||
            this.textQueryForm.errors.differentColor
        ],
        nameRules: [
          (v) => v.length < 64 || this.textQueryForm.errors.maxCharacter,
          (v) =>
            /^\w*(, | |)(?=((\w ?)*))\2$/.test(v) ||
            this.textQueryForm.errors.nameFormat
        ],
        onlyTextRules: [
          (v) => v.length < 64 || this.textQueryForm.errors.maxCharacter
        ],
        eloRules: [
          (v) => v.length < 5 || this.textQueryForm.errors.numberLength,
          (v) => !isNaN(v) || this.textQueryForm.errors.numberRequired
        ]
      }
    }
  },
  computed: {
    ...mapGetters({
      textQueryForm: 'text/textQueryForm'
    }),
    ...mapState({
      queryResultLoadStatus: (state) => state.games.queryResultLoadStatus
    }),
    whiteElo() {
      if (this.form.whiteEloNumber)
        return `${this.form.whiteEloOperator ? '>' : '<'}${
          this.form.whiteEloNumber
        }`
      else return ''
    },
    blackElo() {
      if (this.form.blackEloNumber)
        return `${this.form.blackEloOperator ? '>' : '<'}${
          this.form.blackEloNumber
        }`
      else return ''
    },
    isAllEmpty() {
      const form = this.form
      if (form.player1) return false
      if (form.player1Color) return false
      if (form.player2) return false
      if (form.player2Color) return false
      if (form.event) return false
      if (form.site) return false
      if (form.result) return false
      if (form.whiteEloNumber) return false
      if (form.blackEloNumber) return false
      return true
    }
  },
  methods: {
    ...mapActions({
      fetchQueryResult: 'games/fetchQueryResult'
    }),
    clear() {
      Object.keys(this.form).forEach((key) => {
        if (typeof this.form[key] === 'boolean') this.form[key] = false
        else this.form[key] = ''
      })
    },
    submit() {
      if (this.valid && !this.isAllEmpty) {
        const query = {}
        if (this.form.player1) query.player1 = this.form.player1
        if (this.form.player1Color)
          query.player1Color = this.form.player1Color.slice(0, 1)
        if (this.form.player2) query.player2 = this.form.player2
        if (this.form.player2Color)
          query.player2Color = this.form.player2Color.slice(0, 1)
        if (this.form.event) query.event = this.form.event
        if (this.form.site) query.site = this.form.site
        if (this.form.result) query.result = this.form.result
        if (this.whiteElo) query.whiteElo = this.whiteElo
        if (this.blackElo) query.blackElo = this.blackElo
        this.fetchQueryResult(query)
      }
    }
  }
}
</script>

<style lang="scss"></style>
