<template>
  <div>
    <v-simple-table class="accent" tile>
      <template v-slot:default>
        <thead>
          <tr>
            <th>
              <v-icon class="white--text">mdi-chess-knight</v-icon>
              {{ textQueryResults.playerWhite }}
            </th>
            <th>
              <v-icon class="black--text">mdi-chess-knight</v-icon>
              {{ textQueryResults.playerBlack }}
            </th>
            <th>{{ textQueryResults.result }}</th>
            <th v-if="breakpoint('mdAndUp')">{{ textQueryResults.event }}</th>
            <th v-if="breakpoint('mdAndUp')">{{ textQueryResults.date }}</th>
            <th v-if="breakpoint('smAndUp')">
              {{ textQueryResults.opening }}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(game, idx) in queryResult.games" :key="idx">
            <td>{{ concatNames(game.players[0]) }}</td>
            <td>{{ concatNames(game.players[1]) }}</td>
            <td>{{ game.result }}</td>
            <td v-if="breakpoint('mdAndUp')">{{ game.event }}</td>
            <td v-if="breakpoint('mdAndUp')">{{ game.date }}</td>
            <td v-if="breakpoint('smAndUp')">
              <span class="font-weight-bold">{{ game.opening.ecoCode }}</span>
              {{ game.opening.name }}
              {{ game.opening.variation ? ` ${game.opening.variation}` : '' }}
            </td>
            <td class="d-flex">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    :to="`/game/${game.id}`"
                    v-on="on"
                    nuxt
                    icon
                    class="info"
                  >
                    <v-icon>mdi-card-search</v-icon>
                  </v-btn>
                </template>
                <span>{{ textQueryResults.tooltip.view }}</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    :to="`/gamePrinter/${game.id}`"
                    v-on="on"
                    nuxt
                    icon
                    class="info"
                  >
                    <v-icon>mdi-printer</v-icon>
                  </v-btn>
                </template>
                <span>{{ textQueryResults.tooltip.print }}</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <DownloadButton
                    :link="`/api/game/${game.id}/pgn`"
                    :fileName="
                      `${game.players[0].firstName} ` +
                        `${game.players[0].lastName}-${game.players[1].firstName} ` +
                        `${game.players[1].lastName}`
                    "
                    :on="on"
                    :btnProps="{ class: 'info', icon: true }"
                  >
                    <v-icon>mdi-file-download</v-icon>
                  </DownloadButton>
                </template>
                <span>{{ textQueryResults.tooltip.download }}</span>
              </v-tooltip>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-pagination
      v-model="page"
      :length="queryResult.pageTotal"
      :total-visible="10"
      circle
    />
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import DownloadButton from '@/components/downloadButton'

export default {
  name: 'QueryResults',
  components: {
    DownloadButton
  },
  data() {
    return {
      page: 1,
      apiUrl: process.env.apiUrl,
      isMounted: false
    }
  },
  computed: {
    ...mapGetters({
      textQueryResults: 'text/textQueryResults'
    }),
    ...mapState({
      queryResult: (state) => state.games.queryResult
    })
  },
  watch: {
    page(newPage, oldPage) {
      if (this.queryResult.pageNumber !== newPage) {
        const query = this.queryResult.query
        query.pageNumber = newPage
        this.fetchQueryResult(query)
      }
    }
  },
  mounted() {
    this.isMounted = true
  },
  methods: {
    ...mapActions({
      fetchQueryResult: 'games/fetchQueryResult'
    }),
    concatNames(player) {
      // concat seperate name parts together
      // accounting for possibly missing middleNames
      return Object.values(player)
        .reduce((fullName, name) => {
          if (name != null && isNaN(name)) return fullName + name + ' '
          else return fullName
        }, '')
        .slice(0, -1)
    },
    concatOpening(opening) {
      return `${opening.ecoCode} ${opening.name} ${opening.variation}`
    },
    breakpoint(at) {
      return this.isMounted && this.$vuetify.breakpoint[at]
    }
  }
}
</script>

<style lang="scss"></style>
