<template>
  <v-form v-model="valid" class="mb-2">
    <v-card color="primary mx-2">
      <v-card-title class="headline accent mb-2">{{
        text.heading
      }}</v-card-title>

      <v-row no-gutters justify="space-around">
        <v-btn
          @click="fetchPdf"
          :loading="gameData.pdfLoadStatus === 1"
          :disabled="!valid"
          color="btnSubtle"
          ><v-icon>mdi-autorenew</v-icon>{{ text.refreshBtn }}</v-btn
        >
        <DownloadButton
          :blobUrl="downloadButton.pdfUrl"
          :fileName="downloadButton.fileName"
          :disabled="!downloadButton.pdfUrl"
          :btnProps="{ color: 'btnSubtle' }"
          type="application/pdf"
          ><v-icon>mdi-file-download</v-icon>Download Pdf</DownloadButton
        >
      </v-row>

      <v-divider class="my-2" />

      <v-expansion-panels
        :style="{ overflow: 'hidden' }"
        v-model="panelsOpen"
        multiple
        tile
      >
        <v-expansion-panel>
          <v-expansion-panel-header class="secondary">
            <span>
              <v-icon>mdi-checkerboard</v-icon>
              {{ text.positions.heading }}
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-icon v-on="on">mdi-alert-circle</v-icon>
                </template>
                <span>{{ text.positions.help }}</span>
              </v-tooltip>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content color="accent">
            <v-row justify="end" class="mt-2">
              <v-btn
                @click="fetchPdf"
                :loading="gameData.pdfLoadStatus === 1"
                :disabled="!valid"
                color="btnSubtle"
                ><v-icon>mdi-autorenew</v-icon>{{ text.refreshBtn }}</v-btn
              >
            </v-row>
            <v-row no-gutters class="mt-2">
              <v-col>
                <Board
                  :gameId="gameId"
                  role="printer"
                  width="100%"
                  class="mx-auto mt-2"
                />
                <v-responsive width="100%" class="mx-auto">
                  <GameButtons
                    :gameId="gameId"
                    role="printer"
                    no-download-button
                  />
                </v-responsive>
                <v-container class="mx-auto">
                  <v-checkbox
                    v-model="halfmoves[currentMove.halfMoveNumber]"
                    :label="
                      isFirstMove(currentMove)
                        ? ''
                        : `${text.positions.positionsCheckbox} ${moveLabel}`
                    "
                    :disabled="isFirstMove(currentMove)"
                    class="d-flex justify-center align-center"
                    color="warning"
                  />
                </v-container>
              </v-col>
              <v-col>
                <div id="Halfmoves" class="secondary mx-2">
                  <MoveTextBlock
                    v-for="(move, idx) in moves"
                    :key="idx"
                    :move="move"
                    :gameId="gameId"
                    role="printer"
                    no-comment
                    no-variations
                    force-black-no-move-number
                  >
                    <input
                      v-model="halfmoves[move.halfMoveNumber]"
                      type="checkbox"
                      role="checkbox"
                    />
                  </MoveTextBlock>
                </div>
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
          <v-expansion-panel-header class="secondary">
            <span>
              <v-icon>mdi-view-day</v-icon>
              {{ text.paragraphArr.heading }}
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-icon v-on="on">mdi-alert-circle</v-icon>
                </template>
                <span>{{ text.paragraphArr.help }}</span>
              </v-tooltip>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content color="accent">
            <v-row justify="end" class="mt-2">
              <v-btn
                @click="fetchPdf"
                :loading="gameData.pdfLoadStatus === 1"
                :disabled="!valid"
                color="btnSubtle"
                ><v-icon>mdi-autorenew</v-icon>{{ text.refreshBtn }}</v-btn
              >
            </v-row>
            <v-radio-group v-model="arrangement">
              <v-radio
                :label="text.paragraphArr.bmc"
                value="board-move-comment"
                color="warning"
              ></v-radio>
              <v-radio
                :label="text.paragraphArr.mbc"
                value="move-board-comment"
                color="warning"
              ></v-radio>
              <v-radio
                :label="text.paragraphArr.mcb"
                value="move-comment-board"
                color="warning"
              ></v-radio>
            </v-radio-group>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
          <v-expansion-panel-header class="secondary">
            <span>
              <v-icon>mdi-file-document</v-icon>
              {{ text.pageLayout.heading }}
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-icon v-on="on">mdi-alert-circle</v-icon>
                </template>
                <span>{{ text.pageLayout.help }}</span>
              </v-tooltip>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content color="accent">
            <v-row justify="end" class="mt-2">
              <v-btn
                @click="fetchPdf"
                :loading="gameData.pdfLoadStatus === 1"
                :disabled="!valid"
                color="btnSubtle"
                ><v-icon>mdi-autorenew</v-icon>{{ text.refreshBtn }}</v-btn
              >
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="page.margin"
                  :rules="validation.pageMarginRules"
                  :label="text.pageLayout.pageMargin"
                  prepend-icon="mdi-fit-to-page"
                  color="warning"
                >
                  <template v-slot:append>
                    <v-btn
                      @click="
                        page.margin =
                          Math.round((parseFloat(page.margin) - 0.1) * 10) / 10
                      "
                      icon
                      x-small
                      ><v-icon>mdi-minus</v-icon></v-btn
                    >
                    <v-btn
                      @click="
                        page.margin =
                          Math.round((parseFloat(page.margin) + 0.1) * 10) / 10
                      "
                      icon
                      x-small
                      ><v-icon>mdi-plus</v-icon></v-btn
                    >
                  </template>
                </v-text-field>
              </v-col>
              <v-col>
                <v-text-field
                  v-model="page.colGap"
                  :rules="validation.colGapRules"
                  :label="text.pageLayout.colGap"
                  prepend-icon="mdi-format-columns"
                  color="warning"
                >
                  <template v-slot:append>
                    <v-btn
                      @click="
                        page.colGap =
                          Math.round((parseFloat(page.colGap) - 0.1) * 10) / 10
                      "
                      icon
                      x-small
                      ><v-icon>mdi-minus</v-icon></v-btn
                    >
                    <v-btn
                      @click="
                        page.colGap =
                          Math.round((parseFloat(page.colGap) + 0.1) * 10) / 10
                      "
                      icon
                      x-small
                      ><v-icon>mdi-plus</v-icon></v-btn
                    >
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-spacer />
              <v-col>
                <v-select
                  v-model="page.format"
                  :items="['A4', 'letter']"
                  prepend-icon="mdi-file-document"
                  color="warning"
                  item-color="white"
                />
              </v-col>
              <v-spacer />
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
          <v-expansion-panel-header class="secondary">
            <span>
              <v-icon>mdi-format-font</v-icon>
              {{ text.font.heading }}
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-icon v-on="on">mdi-alert-circle</v-icon>
                </template>
                <span>{{ text.font.help }}</span>
              </v-tooltip>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content color="accent">
            <v-row justify="end" class="mt-2">
              <v-btn
                @click="fetchPdf"
                :loading="gameData.pdfLoadStatus === 1"
                :disabled="!valid"
                color="btnSubtle"
                ><v-icon>mdi-autorenew</v-icon>{{ text.refreshBtn }}</v-btn
              >
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="font.size"
                  :rules="validation.fontSizeRules"
                  :label="text.font.size"
                  prepend-icon="mdi-format-size"
                  color="warning"
                >
                  <template v-slot:append>
                    <v-btn
                      @click="font.size = Math.round(parseInt(font.size) - 1)"
                      icon
                      x-small
                      ><v-icon>mdi-minus</v-icon></v-btn
                    >
                    <v-btn
                      @click="font.size = Math.round(parseInt(font.size) + 1)"
                      icon
                      x-small
                      ><v-icon>mdi-plus</v-icon></v-btn
                    >
                  </template>
                </v-text-field>
              </v-col>
              <v-col>
                <v-select
                  v-model="font.family"
                  :items="['Helvetica', 'Courier', 'Times-Roman']"
                  color="warning"
                  item-color="white"
                />
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
          <v-expansion-panel-header class="secondary">
            <span>
              <v-icon>mdi-palette</v-icon>
              {{ text.colors.heading }}
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-icon v-on="on">mdi-alert-circle</v-icon>
                </template>
                <span>{{ text.colors.help }}</span>
              </v-tooltip>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content color="accent">
            <v-row justify="end" class="mt-2">
              <v-btn
                @click="fetchPdf"
                :loading="gameData.pdfLoadStatus === 1"
                :disabled="!valid"
                color="btnSubtle"
                ><v-icon>mdi-autorenew</v-icon>{{ text.refreshBtn }}</v-btn
              >
            </v-row>
            <v-row>
              <v-col>
                <v-menu :close-on-content-click="false">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-on="on"
                      v-model="color.light"
                      :label="text.colors.lightTile"
                      prepend-icon="mdi-invert-colors"
                      color="warning"
                    >
                      <template v-slot:append-outer>
                        <span
                          :style="{ backgroundColor: color.light }"
                          class="dot"
                        ></span>
                      </template>
                    </v-text-field>
                  </template>
                  <v-color-picker v-model="color.light" />
                </v-menu>
              </v-col>
              <v-col>
                <v-menu :close-on-content-click="false">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-on="on"
                      v-model="color.dark"
                      :label="text.colors.darkTile"
                      prepend-icon="mdi-invert-colors"
                      color="warning"
                    >
                      <template v-slot:append-outer>
                        <span
                          :style="{ backgroundColor: color.dark }"
                          class="dot"
                        ></span>
                      </template>
                    </v-text-field>
                  </template>
                  <v-color-picker v-model="color.dark" />
                </v-menu>
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>
  </v-form>
</template>

<script>
import colors from 'vuetify/lib/util/colors'
import MoveTextBlock from '@/components/gameViewer/moveTextBlock'
import Board from '@/components/gameViewer/board'
import GameButtons from '@/components/gameViewer/gameButtons'
import DownloadButton from '@/components/downloadButton'
import { getAllMoves } from '@/plugins/pgnTools.js'

export default {
  name: 'PrintOptions',
  components: {
    MoveTextBlock,
    Board,
    GameButtons,
    DownloadButton
  },
  props: {
    gameId: {
      type: [Number, String],
      required: true
    }
  },
  data() {
    return {
      valid: false,
      color: {
        dark: colors.brown.darken4,
        light: colors.brown.lighten4
      },
      halfmoves: {},
      arrangement: 'move-board-comment',
      page: {
        margin: 1.0,
        colGap: 1.0,
        format: 'A4'
      },
      font: {
        size: 12,
        family: 'Helvetica'
      },
      validation: {
        pageMarginRules: [
          (v) => !isNaN(v) || 'must be a number',
          (v) =>
            (parseFloat(v) >= 0.1 && parseFloat(v) <= 5.0) ||
            'must be between 0.1 and 5.0'
        ],
        colGapRules: [
          (v) => !isNaN(v) || 'must be a number',
          (v) =>
            (parseFloat(v) >= 0.1 && parseFloat(v) <= 5.0) ||
            'must be between 0.1 and 5.0'
        ],
        fontSizeRules: [
          (v) => Number.isInteger(parseFloat(v)) || 'must be integer',
          (v) =>
            (parseInt(v) >= 5 && parseInt(v) <= 30) ||
            'must be between 5 and 30'
        ]
      },
      panelsOpen: [0]
    }
  },
  computed: {
    gameData() {
      return this.$store.state.games.gamesData[this.gameId]
    },
    currentMove() {
      return this.gameData.currentMove.printer
    },
    moveLabel() {
      return `${this.currentMove.fullMoveNumber}.${
        this.currentMove.moveColor === 'b' ? '..' : ''
      } ${this.currentMove.san}`
    },
    text() {
      return this.$store.getters['text/textGamePrinter']
    },
    downloadButton() {
      const pdfUrl = this.gameData.pdfUrl
      return {
        pdfUrl,
        fileName: `${this.gameData.meta.white.name}-${this.gameData.meta.black.name}.pdf`
      }
    },
    moves() {
      if (this.gameData.loadStatus !== 2) return undefined
      return getAllMoves(this.gameData.moves).slice(1)
    }
  },
  methods: {
    fetchPdf() {
      const halfmovesToBePrinted = []
      Object.entries(this.halfmoves).forEach(([key, val]) => {
        if (val) halfmovesToBePrinted.push(key)
      })
      const options = {
        halfmovesToBePrinted,
        darkTileColor: this.color.dark,
        lightTileColor: this.color.light,
        pageFormat: this.page.format,
        pageMargin: this.page.margin,
        fontName: this.font.family,
        fontSize: this.font.size,
        colGap: this.page.colGap
      }
      this.$store.dispatch('games/fetchPdf', { id: this.gameId, options })
    },
    isFirstMove(move) {
      return isNaN(move.halfMoveNumber)
    }
  }
}
</script>

<style lang="scss">
#Halfmoves {
  max-height: 450px;
  overflow: auto;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
</style>
