<template>
  <div>
    <v-row no-gutters>
      <v-col>
        <v-btn
          @click="currentPage--"
          :disabled="currentPage === 1"
          tile
          width="100%"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      </v-col>
      <v-col class="d-flex justify-center align-center grey darken-4">
        <span>{{ currentPage }} / {{ numPages }}</span>
      </v-col>
      <v-col>
        <v-btn
          @click="currentPage++"
          :disabled="currentPage === numPages"
          tile
          width="100%"
        >
          <v-icon>mdi-arrow-right</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <client-only>
      <pdf
        @numpages="numPages = $event"
        :page="currentPage"
        :src="pdfUrl"
        :key="pdfUrl"
        v-if="pdfUrl"
        scale="page-width"
      >
        <template slot="loading">
          <v-responsive :aspect-ratio="1 / Math.sqrt(2)">
            <v-sheet color="grey" />
          </v-responsive>
        </template>
      </pdf>
    </client-only>
  </div>
</template>

<script>
export default {
  components: {
    pdf: () => import('pdfvuer')
  },
  props: {
    gameId: {
      type: [Number, String],
      required: true
    }
  },
  data() {
    return {
      numPages: 0,
      currentPage: 1
    }
  },
  computed: {
    pdfUrl() {
      return this.$store.state.games.gamesData[this.gameId].pdfUrl
    }
  }
}
</script>
