<template>
  <div id="ChessBoard" :style="{ width: width, maxWidth: maxWidth }">
    <div class="aspect">
      <div id="Board">
        <div v-for="rank in 8" :key="rank" class="rank">
          <div
            v-for="file in 8"
            :key="file"
            :style="{
              background: isLightTile(rank, file)
                ? lightTileColor
                : darkTileColor
            }"
            class="tile"
          >
            <div v-if="file === 8" v-show="renderPieces" class="rankCoord">
              <span class="fit">{{ getBoardCoord(rank, file, 'rank') }}</span>
            </div>
            <div v-if="rank == 8" v-show="renderPieces" class="fileCoord">
              <span class="fit">{{ getBoardCoord(rank, file, 'file') }}</span>
            </div>
          </div>
        </div>
      </div>
      <div id="Pieces" v-if="renderPieces">
        <div
          v-for="(piece, i) in pieceAbbreviations"
          :key="i"
          :id="piece"
          :style="pieceTranslateVectors[piece]"
          class="pieceTile"
        >
          <img
            v-show="pieceTranslateVectors[piece]"
            :src="pieceImages[pieceTypes[piece]]"
            :alt="piece"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fitty from 'fitty'

export default {
  name: 'Board',
  props: {
    gameId: {
      type: [Number, String],
      required: true
    },
    role: {
      type: String,
      required: true
    },
    width: {
      type: String,
      default: undefined
    },
    maxWidth: {
      type: String,
      default: undefined
    },
    darkTileColor: {
      type: String,
      default: '#3e2723'
    },
    lightTileColor: {
      type: String,
      default: '#d7ccc8'
    }
  },
  data() {
    return {
      pieceImages: {
        wr: require('@/assets/imgs/piece_images/52/wr.png'),
        wn: require('@/assets/imgs/piece_images/52/wn.png'),
        wb: require('@/assets/imgs/piece_images/52/wb.png'),
        wk: require('@/assets/imgs/piece_images/52/wk.png'),
        wq: require('@/assets/imgs/piece_images/52/wq.png'),
        wp: require('@/assets/imgs/piece_images/52/wp.png'),
        br: require('@/assets/imgs/piece_images/52/br.png'),
        bn: require('@/assets/imgs/piece_images/52/bn.png'),
        bb: require('@/assets/imgs/piece_images/52/bb.png'),
        bk: require('@/assets/imgs/piece_images/52/bk.png'),
        bq: require('@/assets/imgs/piece_images/52/bq.png'),
        bp: require('@/assets/imgs/piece_images/52/bp.png')
      },
      pieceAbbreviations: [
        'brq', // black queen rook
        'bnq', // black queen knight
        'bbq', // black queen bishop
        'bq', // black queen
        'bk', // black king
        'bbk', // black king bishop
        'bnk', // black king knight
        'brk', // black king rook
        'bpa', // black a pawn
        'bpb', // black b pawn
        'bpc', // black c pawn
        'bpd', // black d pawn
        'bpe', // black e pawn
        'bpf', // black f pawn
        'bpg', // black g pawn
        'bph', // black h pawn
        'wpa', // white a pawn
        'wpb', // white b pawn
        'wpc', // white c pawn
        'wpd', // white d pawn
        'wpe', // white e pawn
        'wpf', // white f pawn
        'wpg', // white g pawn
        'wph', // white h pawn
        'wrq', // white queen rook
        'wnq', // white queen knight
        'wbq', // white queen bishop
        'wq', // white queen
        'wk', // white king
        'wbk', // white king bishop
        'wnk', // white king knight
        'wrk' // white king rook
      ],
      tileSize: 68.75,
      renderPieces: false
    }
  },
  computed: {
    gameData() {
      return this.$store.state.games.gamesData[this.gameId]
    },
    position() {
      const currentMove = this.gameData.currentMove[this.role]
      return currentMove.position
    },
    boardIsFlipped() {
      return (
        this.gameData.boardIsFlipped && this.gameData.boardIsFlipped[this.role]
      )
    },
    pieceTranslateVectors() {
      const positionVectors = {}
      Object.entries(this.position).forEach(([pieceAbb, info]) => {
        const vector = this.pieceVector(info.coord)
        positionVectors[pieceAbb] = {
          transform: `translate(${vector.x}px, ${vector.y}px)`,
          opacity: info.isCaptured ? 0 : 1
        }
      })
      return positionVectors
    },
    pieceTypes() {
      const pieceTypes = {}
      Object.entries(this.position).forEach(([pieceAbb, info]) => {
        pieceTypes[pieceAbb] = info.changePieceTypeTo
          ? info.changePieceTypeTo
          : pieceAbb.slice(0, 2)
      })
      return pieceTypes
    }
  },
  // when window is resized
  mounted() {
    this.$nextTick(function() {
      this.determineTileSize()
    })
    window.addEventListener('resize', this.onResize)
    this.renderPieces = true
    fitty('.fit', { minSize: 1 })
  },
  destroyed() {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    pieceVector(coordAlg) {
      let letter, number
      if (!this.boardIsFlipped) {
        letter = coordAlg.charCodeAt(0) - 97 // maps: a => 0, b => 1, c => 2, ...
        number = Math.abs(parseInt(coordAlg[1]) - 8) // maps: 1 => 7, 2 => 6, 3 => 5, ...
      } else {
        letter = Math.abs(coordAlg.charCodeAt(0) - 104) // maps: a => 7, b => 6, c => 5, ...
        number = parseInt(coordAlg[1]) - 1 // maps: 1 => 0, 2 => 1, ...
      }
      const tileSize = this.tileSize
      return {
        x: letter * tileSize,
        y: number * tileSize
      }
    },
    getPieceByCoord(position, coord) {
      return Object.keys(position).find((key) => {
        return position[key].coord === coord && !position[key].isCaptured
      })
    },
    onResize() {
      this.determineTileSize()
      fitty.fitAll()
    },
    determineTileSize() {
      const anyTile = document.getElementsByClassName('tile')[0]
      const tileWidth = window
        .getComputedStyle(anyTile, null)
        .getPropertyValue('width')
      this.tileSize = parseFloat(tileWidth)
    },
    isLightTile(rank, file) {
      return rank % 2 === 0 ? file % 2 === 0 : file % 2 === 1
    },
    getBoardCoord(rank, file, role) {
      if (role === 'rank')
        return !this.boardIsFlipped ? Math.abs(rank - 9) : rank
      else
        return !this.boardIsFlipped
          ? String.fromCharCode(file + 64)
          : String.fromCharCode(Math.abs(file - 9) + 64)
    }
  }
}
</script>

<style lang="scss" scoped>
#ChessBoard {
  border-style: ridge;
  border-width: 5px;

  .aspect {
    width: 100%;
    padding-top: 100%;
    position: relative;

    #Board {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      .rank,
      .tile {
        display: flex;
      }

      .rank {
        height: calc(100% / 8);
        width: 100%;
      }

      .tile {
        height: 100%;
        width: calc(100% / 8);
        position: relative;
      }
    }

    #Pieces {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .pieceTile {
        height: calc(100% / 8);
        width: calc(100% / 8);
        position: absolute;
        transition: transform 0.2s, opacity 0.2s;

        img {
          margin: 0 auto;
          width: 100%;
          display: block;
        }
      }
    }
  }
}

.rankCoord,
.fileCoord {
  width: 10%;
  color: black;
  position: absolute;
  z-index: 2;
  right: 5%;
}

.rankCoord {
  top: -5%;
}

.fileCoord {
  bottom: -5%;
}

.rank:nth-child(odd) .rankCoord {
  color: white;
}

.tile:nth-child(odd) .fileCoord {
  color: white;
}
</style>
