<template>
  <v-expand-transition>
    <v-sheet
      :elevation="10"
      v-if="!isFirstMove"
      tile
      class="text-center accent mb-3 px-5 py-1"
    >
      <moveTextBlock
        :move="currentMove"
        :gameId="gameId"
        :role="role"
        no-highlight
        force-black-move-number
      />
    </v-sheet>
  </v-expand-transition>
</template>

<script>
import moveTextBlock from '@/components/gameViewer/moveTextBlock'

export default {
  name: 'CurrentMove',
  components: {
    moveTextBlock
  },
  props: {
    gameId: {
      type: [Number, String],
      required: true
    },
    role: {
      type: String,
      required: true
    }
  },
  computed: {
    currentMove() {
      const gameData = this.$store.state.games.gamesData[this.gameId]
      return gameData.currentMove[this.role]
    },
    isFirstMove() {
      return !this.currentMove.prev
    }
  }
}
</script>
