<template>
  <div id="GameButtons">
    <v-row class="radiusBottom flex-nowrap" no-gutters>
      <v-col>
        <v-btn
          @click="startCurrentMove({ id: gameId, role })"
          color="btnSubtle"
          tile
          width="100%"
          ><v-icon>mdi-arrow-collapse-left</v-icon></v-btn
        >
      </v-col>
      <v-col>
        <v-btn
          @click="decCurrentMove({ id: gameId, role })"
          color="btnSubtle"
          tile
          width="100%"
          ><v-icon>mdi-arrow-left</v-icon></v-btn
        >
      </v-col>
      <v-col>
        <v-btn
          @click="setBoardIsFlipped({ id: gameId, role })"
          color="btnSubtle"
          tile
          width="100%"
          ><v-icon>mdi-autorenew</v-icon></v-btn
        >
      </v-col>
      <v-col>
        <v-btn
          @click="incCurrentMove({ id: gameId, role })"
          color="btnSubtle"
          tile
          width="100%"
          ><v-icon>mdi-arrow-right</v-icon></v-btn
        >
      </v-col>
      <v-col>
        <v-btn
          @click="endCurrentMove({ id: gameId, role })"
          color="btnSubtle"
          tile
          width="100%"
          ><v-icon>mdi-arrow-collapse-right</v-icon></v-btn
        >
      </v-col>
    </v-row>
    <v-responsive class="radiusBottom mx-auto" width="75%">
      <v-row v-if="!noDownloadButton" no-gutters>
        <v-col v-if="!isFromUser">
          <DownloadButton
            :link="downloadButton.link"
            :fileName="downloadButton.fileName"
            :btnProps="{ color: 'btnHighlight', tile: true, width: '100%' }"
          >
            <span>Download Pgn</span><v-icon right>mdi-file-download</v-icon>
          </DownloadButton>
        </v-col>
        <v-col>
          <v-btn
            :to="`/gamePrinter/${gameId}`"
            nuxt
            tile
            width="100%"
            color="btnHighlight"
          >
            <v-icon>mdi-printer</v-icon>Pdf Editor
          </v-btn>
        </v-col>
      </v-row>
    </v-responsive>
  </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import DownloadButton from '@/components/downloadButton'

export default {
  name: 'BoardButtons',
  components: {
    DownloadButton
  },
  props: {
    gameId: {
      type: [Number, String],
      required: true
    },
    role: {
      type: String,
      required: true
    },
    noDownloadButton: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    gameData() {
      return this.$store.state.games.gamesData[this.gameId]
    },
    loadStatus() {
      if (this.gameData) return this.gameData.loadStatus
      else return 0
    },
    downloadButton() {
      if (this.loadStatus === 2)
        return {
          link: `/api/game/${this.gameId}/pgn`,
          fileName: `${this.gameData.meta.white.name}-${this.gameData.meta.black.name}.pgn`
        }
      else return {}
    },
    isFromUser() {
      return isNaN(this.gameId)
    }
  },
  methods: {
    ...mapActions({
      incCurrentMove: 'games/incCurrentMove',
      decCurrentMove: 'games/decCurrentMove',
      startCurrentMove: 'games/startCurrentMove',
      endCurrentMove: 'games/endCurrentMove'
    }),
    ...mapMutations({
      setBoardIsFlipped: 'games/setBoardIsFlipped'
    })
  }
}
</script>

<style lang="scss" scoped>
.radiusBottom {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
</style>
