<template>
  <v-expansion-panels tile>
    <v-expansion-panel class="accent">
      <v-expansion-panel-header class="text-center">
        <div>
          <h2 class="display-1">
            <span v-if="shouldBePrinted(gameData.meta.white)">{{
              gameData.meta.white.name
            }}</span
            ><span v-else>Unknown</span>
            -
            <span v-if="shouldBePrinted(gameData.meta.black)">{{
              gameData.meta.black.name
            }}</span
            ><span v-else>Unknown</span>
            <span v-if="shouldBePrinted(gameData.meta.date)"
              >({{ gameData.meta.date }})</span
            >
            <span>[{{ gameData.meta.result }}]</span>
          </h2>
          <h3
            id="Variation"
            v-if="gameData.meta.openingLoadStatus === 2"
            class="title"
          >
            <span>{{ textGameViewer.gameDataKeys.opening }}:</span>
            <span>{{ opening.name }} [{{ opening.eco }}]</span>
          </h3>
          <v-skeleton-loader
            v-else-if="gameData.meta.openingLoadStatus < 2"
            type="text"
          />
        </div>
      </v-expansion-panel-header>
      <v-expansion-panel-content color="secondary" class="panel-content">
        <!-- <v&#45;divider class="black" /> -->
        <v-simple-table class="secondary text-center">
          <tbody>
            <tr v-if="shouldBePrinted(gameData.meta.event)">
              <td class="font-weight-bold">
                {{ textGameViewer.gameDataKeys.event }}
              </td>
              <td>{{ gameData.meta.event }}</td>
            </tr>
            <tr v-if="shouldBePrinted(gameData.meta.site)">
              <td class="font-weight-bold">
                {{ textGameViewer.gameDataKeys.site }}
              </td>
              <td>{{ gameData.meta.site }}</td>
            </tr>
            <tr v-if="shouldBePrinted(gameData.meta.round)">
              <td class="font-weight-bold">
                {{ textGameViewer.gameDataKeys.round }}
              </td>
              <td>{{ gameData.meta.round }}</td>
            </tr>
            <tr v-if="shouldBePrinted(gameData.meta.white.elo)">
              <td class="font-weight-bold">
                {{ textGameViewer.gameDataKeys.whiteElo }}
              </td>
              <td>{{ gameData.meta.white.elo }}</td>
            </tr>
            <tr v-if="shouldBePrinted(gameData.meta.black.elo)">
              <td class="font-weight-bold">
                {{ textGameViewer.gameDataKeys.blackElo }}
              </td>
              <td>{{ gameData.meta.black.elo }}</td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'GameInfo',
  props: {
    gameId: {
      type: [Number, String],
      required: true
    }
  },
  data() {
    return {
      noPrintValues: ['?', undefined, null]
    }
  },
  computed: {
    ...mapGetters({ textGameViewer: 'text/textGameViewer' }),
    gameData() {
      return this.$store.state.games.gamesData[this.gameId]
    },
    opening() {
      if (this.gameData.meta.openingLoadStatus !== 2) return undefined
      const opening = this.gameData.meta.opening
      return {
        name:
          opening.variation != null
            ? `${opening.name} ${opening.variation}`
            : opening.name,
        eco: opening.ecoCode
      }
    }
  },
  methods: {
    shouldBePrinted(otherVal) {
      return !this.noPrintValues.some((val) => val === otherVal)
    }
  }
}
</script>

<style lang="scss">
.panel-content > div {
  padding: 0 !important;
}
</style>
