<template>
  <div id="GameSelector">
    <button v-on:click="open = !open">
      Select or upload game <i class="material-icons">view_headline</i>
    </button>
    <div v-show-slide="open">
      <div id="GameFilter">
        <input v-model="query" type="text" />
        <h4>Result:</h4>
        <select id="Result" v-model="result">
          <option disabled value="">Result</option>
          <option>1-0</option>
          <option>0-1</option>
          <option>1/2-1/2</option>
        </select>
      </div>
      <ul class="gameList">
        <li v-for="game of filteredList" :key="game.idx">
          <button v-on:click="selectGame(game.idx)">
            {{ game.label }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'GameSelector',
  data() {
    return {
      query: '',
      open: false
    }
  },
  computed: {
    ...mapGetters(['allGames']),
    list() {
      const list = []
      this.allGames.forEach(function(game, idx) {
        list.push({
          idx,
          label: `${game.white_player} - ${game.black_player} [${game.result}]`
        })
      })
      return list
    },
    filteredList() {
      const vm = this
      return vm.list.filter(function(item) {
        return item.label.toLowerCase().includes(vm.query.toLowerCase())
      })
    }
  },
  methods: {
    ...mapActions(['setCurrentGame']),
    selectGame(id) {
      this.setCurrentGame(id)
    }
  }
}
</script>

<style lang="scss">
#GameSelector {
  width: 100%;

  button {
    width: 100%;
    border-radius: 0px;
  }

  #GameFilter {
    display: flex;
  }
}
</style>
