<template>
  <div id="GameText">
    <v-sheet class="pa-5 accent">
      <MoveTextBlock
        v-for="(move, idx) in moves"
        :key="idx"
        :move="move"
        :gameId="gameId"
        :role="role"
      />
    </v-sheet>
  </div>
</template>

<script>
import MoveTextBlock from '@/components/gameViewer/moveTextBlock'
import { getAllMoves } from '@/plugins/pgnTools.js'

export default {
  name: 'MoveText',
  components: {
    MoveTextBlock
  },
  props: {
    gameId: {
      type: [Number, String],
      required: true
    },
    role: {
      type: String,
      required: true
    }
  },
  computed: {
    gameData() {
      return this.$store.state.games.gamesData[this.gameId]
    },
    currentMove() {
      return this.gameData.currentMove[this.role]
    },
    moves() {
      if (this.gameData.loadStatus !== 2) return undefined
      return getAllMoves(this.gameData.moves).slice(1)
    }
  }
}
</script>

<style lang="scss" scoped></style>
