<template>
  <span class="is-size-5">
    <span
      :class="{ warning: isHighlighted, 'black--text': isHighlighted }"
      class="keepTogether font-weight-bold"
    >
      <span v-if="commentBeforeBlackMove || move.moveColor == 'w'">{{
        move.fullMoveNumber
      }}</span
      ><span v-if="move.moveColor == 'w'">. </span
      ><span v-if="commentBeforeBlackMove">... </span>
      <slot></slot>
      <span
        v-if="gameId !== -1"
        v-on:click="setCurrentMove({ id: gameId, role, newCurrentMove: move })"
        class="clickable"
        >{{ move.san }}</span
      >
      <span v-else>{{ move.san }}</span>
    </span>
    <span v-if="!noComment" class="grey--text font-italic"
      >{{ move.comment }}
    </span>
    <span v-if="!noVariations">
      <span
        v-for="(variation, idx) in move.variations"
        :key="idx"
        class="has-text-weight-bold has-text-grey"
      >
        <span>[</span>
        <moveTextBlock
          v-for="(moveRecursion, idxInner) in getAllMoves(variation)"
          :key="idxInner"
          :move="moveRecursion"
          :gameId="gameId"
          :role="role"
        />
        <span>] </span>
      </span>
    </span>
  </span>
</template>

<script>
import { mapActions } from 'vuex'
import { getAllMoves } from '@/plugins/pgnTools.js'

export default {
  name: 'MoveTextBlock',
  props: {
    move: {
      type: Object,
      default: undefined
    },
    gameId: {
      type: [Number, String],
      default: -1
    },
    role: {
      type: String,
      required: true
    },
    noComment: {
      type: Boolean,
      default: false
    },
    noVariations: {
      type: Boolean,
      default: false
    },
    noHighlight: {
      type: Boolean,
      default: false
    },
    forceBlackNoMoveNumber: {
      type: Boolean,
      default: false
    },
    forceBlackMoveNumber: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    commentBeforeBlackMove() {
      return (
        (this.forceBlackMoveNumber && this.move.moveColor === 'b') ||
        (!this.forceBlackNoMoveNumber &&
          this.move.prev &&
          this.move.moveColor === 'b' &&
          this.move.prev.comment)
      )
    },
    isHighlighted() {
      return (
        !this.noHighlight &&
        this.move ===
          this.$store.state.games.gamesData[this.gameId].currentMove[this.role]
      )
    }
  },
  methods: {
    ...mapActions({ setCurrentMove: 'games/setCurrentMove' }),
    getAllMoves
  }
}
</script>

<style lang="scss" scoped>
.clickable {
  cursor: pointer;
}
.move,
.variation {
  font-weight: bold;
}

.variation {
  color: grey;
}

.keepTogether {
  white-space: nowrap;
}
</style>
