<template>
  <div
    id="PlayerPictures"
    class="d-flex flex-row-reverse flex-sm-column justify-space-around my-5"
  >
    <v-card id="Player2" :elevation="10" class="mx-5 accent">
      <v-img
        :src="playerPictureUrls.black ? playerPictureUrls.black : noPicture"
        alt="black player image"
        height="23vw"
        max-height="253px"
        width="20vw"
        max-width="220px"
        class="mx-auto"
      />
      <v-card-title class="pa-1 subtitle-2 text-center"
        >{{ playerNames.black }}
        <v-spacer></v-spacer>
        <v-icon class="black--text">mdi-chess-knight</v-icon>
      </v-card-title>
    </v-card>
    <v-card id="Player1" :elevation="10" class="mx-5 accent">
      <v-img
        :src="playerPictureUrls.white ? playerPictureUrls.white : noPicture"
        alt="white player image"
        height="23vw"
        max-height="253px"
        width="20vw"
        max-width="220px"
        class="mx-auto"
      />
      <v-card-title class="pa-1 subtitle-2 text-center"
        >{{ playerNames.white }}
        <v-spacer></v-spacer>
        <v-icon>mdi-chess-knight</v-icon></v-card-title
      >
    </v-card>
  </div>
  <!-- End PlayerPictures -->
</template>

<script>
export default {
  name: 'PlayerPictures',
  props: {
    gameId: {
      type: [Number, String],
      required: true
    }
  },
  data() {
    return {
      noPicture: require('@/assets/imgs/question-mark.jpg')
    }
  },
  computed: {
    gameData() {
      return this.$store.state.games.gamesData[this.gameId]
    },
    playerPictureUrls() {
      return this.gameData.meta.playerPictureUrls
    },
    playerNames() {
      const meta = this.gameData.meta
      return {
        white: meta.white.name,
        black: meta.black.name
      }
    }
  }
}
</script>

<style lang="scss"></style>
